.tag-cloud{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50em;
    width: 50em;
}

.tag-cloud-tag{
    cursor: pointer;
}

.tag-cloud-tag:hover{
    transform: scale(0.4);
    margin: 10%;
}