.componenteNubeTags{
    background-color: #9f9f9f;
    height: 30em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}
.tag-cloud{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 30em;
    width: 50em;
}

.tag-cloud-tag{
    cursor: pointer;
}

.tag-cloud-tag:hover{
    transform: scale(1.9);
    margin: 10%;
}