.tag-cloud{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 30em;
    width: 50em;
}

.tag-cloud-tag{
    cursor: pointer;
}

.tag-cloud-tag:hover{
    transform: scale(1.3);
    margin: 10%;
}