.componenteGrafica {
    margin-top: 5em;
    background-color: rgba(62, 73, 60, 0.16);
    height: 50em;
    width: 100em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    margin-block-end: 3em;
}

.grafica{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
}